# Changelog

{%- for version, release in context.history.released.items() %}

## {{ version.as_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})

{%- for category, commits in release["elements"].items() %}
{# Category title: Breaking, Fix, Documentation #}
### {{ category | capitalize }}
{# List actual changes in the category #}

{%- endfor %}{# for category, commits #}

{%- endfor %}{# for version, release #}
